*.out
__pycache__/
training/models/
training/runs/

figs/
preprocessing/
split/msd/7D_id_to_path.pkl
split/msd/filtered_list_test.cP
split/msd/filtered_list_train.cP
split/MSD_id_to_7D_id.pkl
split/msd_id_to_tag_vector.cP
split/msd/README.md
split/mtat/binary.npy
split/mtat/test.npy
split/mtat/train.npy
split/mtat/valid.npy
split/mtg-jamendo/
training/data_loader/
training/eval.py
training/main.py
training/robustness.py
training/solver.py
cog.yaml
predict.py
